Bottleneck==1.2.1
certifi==2018.4.16
chardet==3.0.4
future==0.16.0
idna==2.6
numexpr==2.6.5
numpy==1.14.4
pandas==0.23.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
sodapy==1.4.6
urllib3==1.22
